<!-- <fieldset>
  <h2 class="fs-title">Login</h2>
  <h3 class="fs-subtitle">please enter your credentials</h3>
  <input type="text" name="email" placeholder="Email" />
  <input type="password" name="pass" placeholder="Password" />
  <input type="button" name="next" class="next action-button" value="Next" />
</fieldset> -->
<fieldset >
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp"  placeholder="Enter email"  [ngClass]="{ 'is-invalid': submitted && userForm.controls.email.errors }">
      <div *ngIf="submitted&&userForm.controls.email.errors" class="invalid-feedback">
          <div *ngIf="userForm.controls.email.errors.required">email address is required</div>
          <div *ngIf="userForm.controls.email.errors.email">invalid email address</div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="col-form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && userForm.controls.password.errors }">
      <div *ngIf="submitted&&userForm.controls.password.errors" class="invalid-feedback">
          <div *ngIf="userForm.controls.password.errors.required">password is required</div>
          <div *ngIf="userForm.controls.password.errors.minlength"> password can't be less than {{userForm.controls.password.errors.minlength.requiredLength}} </div>
          <div *ngIf="userForm.controls.password.errors.maxlength"> password must be less than {{userForm.controls.password.errors.maxlength.requiredLength}} </div>
    </div>
    </div>
    <button type="submit" class="btn btn-success mb-2" >Next</button>
  </form>
</fieldset>